body{
    background-color:#cfcfcf;
margin: 0px;
}
.Contenedor{
    padding: 10px;
    vertical-align: middle;
    margin: auto;
    width: 400px;
    
}
button{
    border-radius: 5px;
    background: blue;
    color:#ffffff;
    padding: 3px;
}
.Contenido{
    line-height: 1;
    margin: 10px;
    display:table-cell;

}
.Contenido:hover{
    background: gray;
}

.Menu{
    display: inline-block;
    background: blueviolet;
    width: 30%;
}

.Info{
    display: inline-block;
    padding: 10px;
    background: rosybrown;
    width: 60%;
}
li{
    list-style: none;
}

fieldset{
    padding: 20px;
}
.Caja{
    background: red;
}
input{
    margin-bottom: 10px;
}
.formulario{
    background: purple;
    padding: 10px;
}

label{
  color: beige;
}